*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.unsplash.com/photo-1541531455306-a1008c85edd9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.main-container{
    display: flex;
    height: 600px;
    width: 300px;
    border-radius: 15px;
    align-items: center;
    margin: auto;
    border: 2px solid black;
    .output-container{
        margin: 25px;
    }

}